{% extends "rowingWebsiteApp/base.html" %}
{% load static %}

{% block top %}

    {% for banners in banner %}
        <div class="image-container">
            <h1 class="titles">{{banners.about_page_title}}</h1>
            <div class="bg shadow-lg" style= "background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
                                                                url('{{banners.about_Banner.url}}'); ">  
            </div>
        </div>
    {% endfor %}

{% endblock top %}

{% block content %}

<style>
    .linebreaks p {
        line-height: 3;
    }
    .img-back{
        height:70vh;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: brightness(80%);
        
    }

    @media only screen and (max-device-width: 767px){
        .img-back{
            
            background-attachment: scroll;
            
        }
    }
</style>

    <div class="">
        {% for sections in aboutText %}
            <div>
                <div class="text-dark text-center py-3">
                    <h1>{{sections.title}}</h1>
                </div>     
                <div class="contain-text text-center">{{sections.text|linebreaks}}</div>
                

            </div>

            <div class="img-back mt-2" style="background-image: url('{{sections.image.url}}');"></div>

        {% endfor %}
    </div>

<script>

    function mobileDeviceUpdate(){
        
        if(window.matchMedia("(max-width: 767px)").matches){
            $('#column-text').removeClass('mx-5');
        } 
        else{
        }
    }

    $(document).ready(mobileDeviceUpdate);
</script>

{% endblock content %}